.dropdown-menu.active {
    display: block;
}

/* ______ MOBILE BOTTOM NAV ______ */
.mobile-bottom-nav {
    display: none;
}


/* ========== CONTENT WRAPPER ========== */
#content-wrapper {
    margin-top: 108px;
}

/* ______ BANNER TOP ______ */
#banner-top {
    width: 100%;
    height: 500px;
    background-image: url(../images/hero-banner.png);
    object-fit: contain;
}

#banner-top .banner-top-container {
    padding: 0 10px;
}

#banner-top .row {
    color: var(--text-dark-color);
}

#banner-top .btn-block a {
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    transition: 0.5s;
}

#banner-top .shop-btn {
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: var(--border-radius-md);
}

#banner-top .shop-btn i {
    font-size: 18px;
}

#banner-top .shop-btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

#banner-top .play-btn {
    margin-left: 10px;
    color: var(--white-color);
}

#banner-top .play-btn i {
    font-size: 22px;
    padding: 10px;
    margin-right: 6px;
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: 50%;
}

/* ______ PRODUCT CARD ______ */
.product-card {
    position: relative;
    width: 200px;
    height: 330px;
    padding: 10px;
    margin: 10px;
    background-color: var(--background-color);
    border-radius: 20px 20px 10px 10px;
    transition: 0.1s;
    scroll-snap-align: start;
}

.product-card:hover .product-icons-list {
    visibility: visible;
}

@media screen and (max-width: 1140px) {
    .product-card {
        max-width: calc((100vw - 20px) / 4);
    }

    .direction-btn {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .product-card {
        max-width: calc((100vw - 20px) / 3);
    }

    .direction-btn {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .product-card {
        max-width: calc(100vw - 20px);
    }

    .direction-btn {
        display: none;
    }
}

.product-img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: var(--border-radius-md);
}

.product-img:hover {
    cursor: pointer;
}

.product-body {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-title {
    width: 100%;
    height: 40px;
    margin: 0;
}

.product-title a {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
}

.product-price {
    margin-right: 50px;
}

.product-price-old {
    display: block;
    font-size: 12px;
    text-decoration: line-through;
    color: var(--text-light-color);
}

.product-price-current {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.product-review {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-right: 50px;
}

.product-rate {
    color: #ffe100;
}

.product-sold {
    color: var(--text-light-color);
}

.product-icons-list {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
    transition: all 0.5s ease;
}

.product-icons-list li a {
    display: flex;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.product-icons-list li a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.product-icons-list li a i {
    font-size: 16px;
    line-height: 30px;
    margin: auto;
    color: var(--black-color);
}

.product-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    border-radius: 20px 0 10px 0;
}

.product-cart-link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius-md);
}

.product-cart-link:hover {
    opacity: 0.9;
}

.product-cart-link i {
    line-height: 40px;
    color: var(--white-color);
}

/* ______ BEST SELLER ______ */
#box-best-seller {
    padding: 10px 0;
    margin-top: 60px;
}

#box-best-seller .products-container {
    position: relative;
    padding: 0 10px;
}

#box-best-seller .products-heading {
    margin-bottom: 24px;
}

#box-best-seller .products-heading h2 {
    font-size: 26px;
    font-weight: 600;
}

#box-best-seller .product-card::before {
    content: "Hot";
    position: absolute;
    top: 0;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    padding-top: 2px;
    color: var(--white-color);
    text-align: center;
    background-color: #e90000;
}

#box-best-seller .product-card::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    width: 30px;
    border-width: 0 15px 8px;
    border-style: solid;
    border-color: transparent #e90000;
}

/* ______ PRODUCTS LATEST ______ */
#products-latest {
    padding: 10px 0;
    margin-top: 30px;
}

#products-latest .products-container {
    position: relative;
    padding: 0 10px;
}

#products-latest .products-heading {
    margin-bottom: 24px;
}

#products-latest .products-heading h2 {
    font-size: 26px;
    font-weight: 600;
}

#products-latest .product-card::before {
    content: "New";
    position: absolute;
    top: 0;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    padding-top: 2px;
    color: #e90000;
    text-align: center;
    background-color: #ffea00;
}

#products-latest .product-card::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    width: 30px;
    border-width: 0 15px 8px;
    border-style: solid;
    border-color: transparent #ffea00;
}

/* ______ COMING SOON BANNER ______ */
#coming-soon-banner {
    position: relative;
    width: 100%;
    padding: 30px 0;
    margin-top: 40px;
    background-image: url(../images/coming-soon-banner.jpg);
    object-fit: contain;
}

#coming-soon-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#coming-soon-banner .text-block {
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#coming-soon-banner .text-block .title {
    padding-bottom: 14px;
    color: var(--primary-color);
    z-index: 2;
}

#coming-soon-banner .text-block>h5 {
    font-size: 18px;
    padding: 0 60px;
    color: var(--primary-color);
    z-index: 2;
}

#coming-soon-banner .countdown {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0;
}

#coming-soon-banner .countdown li div {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

#coming-soon-banner .countdown li div h2 {
    padding: 12px;
    color: var(--white-color);
    border-radius: var(--border-radius-sm);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, var(--black-color) 100%);
}

#coming-soon-banner .countdown li h5 {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 20px;
}

/* ______ BOX BLOGS ______ */
#box-blogs {
    padding: 10px 0;
    margin-top: 30px;
}

#box-blogs .blogs-container {
    position: relative;
    padding: 0 10px;
}

.blogs-heading {
    margin-top: 40px;
}

.blog-card {
    max-width: 100%;
    width: 310px;
    height: 360px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--background-color);
    scroll-snap-align: start;
}

.blog-card .card-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.blog-card .text-block {
    padding: 20px;
}

.blog-card .category-tag {
    width: fit-content;
    height: 20px;
    font-size: 14px;
    padding: 0 6px;
    margin-bottom: 10px;
    color: var(--text-dark-color);
    background-color: var(--white-color);
    border-radius: var(--border-radius-sm);
}

.blog-card .card-content {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.blog-card .author-img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.blog-card .author-name {
    color: var(--text-light-color);
}

.blog-card .card-link {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    color: var(--primary-color);
    font-size: 14px;
}

.blog-card .card-link i {
    margin-top: 3px;
}
